<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Valerio Vaccaro">
  <link rel="icon" href="">
  <title>💶</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/wine.css" rel="stylesheet">
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
           <a class="navbar-brand" href="/">🏠Home</a>
           <a class="navbar-brand" href="/stats">🔍Activities</a>
           <a class="navbar-brand" href="/balance">💶Balance</a>
           <a class="navbar-brand" href="/utxos">📄UTXOs</a>
           <a class="navbar-brand" href="/investor">👱New investor</a>
           <a class="navbar-brand" href="/about">©Credits</a>
           {{#logged}}
           <a class="navbar-brand" href="/logout">✋Logout</a>
           {{/logged}}
           {{^logged}}
           <a class="navbar-brand" href="/login">✋Login</a>
           {{/logged}}
         </div>
      </div>
   </nav>

      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>

            <div class="well">
              <h3>Balance</h3>
              <center><img src="/static/gaid_balance.png?{{random}}" width="100%"></center>
              <table class="table">
              <thead>
                <tr>
                  <th scope="col">GAID</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                {{#confirmed_balance}}
                <tr>
                  <td>{{GAID}}</td>
                  <td>{{owner}}</td>
                  <td>{{amount}}</td>
                </tr>
                {{/confirmed_balance}}
              </tbody>
            </table>
            </div>

            </div>

         </div>
      </div>
      </div>
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </body>
</html>
