<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Valerio Vaccaro">
  <link rel="icon" href="">
  <title>💶</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/wine.css" rel="stylesheet">
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
           <a class="navbar-brand" href="/">🏠Home</a>
           <a class="navbar-brand" href="/stats">🔍Activities</a>
           <a class="navbar-brand" href="/balance">💶Balance</a>
           <a class="navbar-brand" href="/utxos">📄UTXOs</a>
           <a class="navbar-brand" href="/investor">👱New investor</a>
           <a class="navbar-brand" href="/about">©Credits</a>
           {{#logged}}
           <a class="navbar-brand" href="/logout">✋Logout</a>
           {{/logged}}
           {{^logged}}
           <a class="navbar-brand" href="/login">✋Login</a>
           {{/logged}}
         </div>
      </div>
   </nav>

      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>

            <div class="well">
              <h3>UTXOs</h3>
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">UTXO</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Investor</th>
                    <th scope="col">GAID</th>
                    <th scope="col">Blacklisted</th>
                    <th scope="col">Command</th>
                  </tr>
                </thead>
                <tbody>
                  {{#logged}}
                  {{#utxos}}
                  <tr>
                    <td><a href="https://blockstream.info/liquid/tx/{{txid}}?output:{{vout}}" target="_blank">{{txid}}:{{vout}}</a></td>
                    <td>{{amount}}</td>
                    <td>{{investor}}</td>
                    <td>{{gaid}}</td>
                    {{#blacklisted}}
                    <td>TRUE</td>
                    <td><a href="/utxos?command=unlock&txid={{txid}}&vout={{vout}}"><button type="button" class="btn btn-danger">Unlock</button></a></td>
                    {{/blacklisted}}
                    {{^blacklisted}}
                    <td>FALSE</td>
                    <td><a href="/utxos?command=lock&txid={{txid}}&vout={{vout}}"><button type="button" class="btn btn-success">Lock</button></a></td>
                    {{/blacklisted}}
                  </tr>
                  {{/utxos}}
                  {{/logged}}

                  {{^logged}}
                  {{#utxos}}
                  <tr>
                    <td><a href="https://blockstream.info/liquid/tx/{{txid}}?output:{{vout}}" target="_blank">{{txid}}:{{vout}}</a></td>
                    <td>{{amount}}</td>
                    <td>{{investor}}</td>
                    <td>{{gaid}}</td>
                    {{#blacklisted}}
                    <td>TRUE</td>
                    <td></td>
                    {{/blacklisted}}
                    {{^blacklisted}}
                    <td>FALSE</td>
                    <td></td>
                    {{/blacklisted}}
                  </tr>
                  {{/utxos}}
                  {{/logged}}


                </tbody>
              </table>
              </div>

            </div>

         </div>
      </div>
      </div>
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </body>
</html>
